* {
  margin: o;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../Resources/Login-Page/image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

header nav {
  width: 90%;
}

header nav figure img {
  width: 167px;
}

.signIn-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn-section section {
  background: rgba(0, 0, 0, 0.75);
  height: 630px;
  width: 450px;
  padding-top: 60px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signIn-section section form {
  display: flex;
  flex-direction: column;
  height: 344px;
}

.signIn-section section form h1 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 35px;
}

.signIn-section section form input {
  width: 274px;
  height: 50px;
  background: rgba(51, 51, 51, 1);
  outline: 0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
  margin-bottom: 15px;
}

.signIn-section section form div {
  margin: 25px 0;
}

.signIn-section section form div button {
  width: 314px;
  height: 48px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background: rgba(229, 9, 20, 1);
  transition: 500ms;
}

.signIn-section section form div button:hover {
  background-color: rgb(187, 0, 0);
}

.signIn-section section form div span {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  justify-content: space-between;
  padding-top: 15.6;
  padding-left: 10px;
}

.signIn-section section form div span p {
  cursor: pointer;
  color: rgba(179, 179, 179, 1);
}

.signIn-section section article {
  width: 314px;
  height: 216px;
  color: rgba(115, 115, 115, 1);
  margin-top: 10px;
  margin-bottom: 70px;
}

.signIn-section section article div {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
}

.signIn-section section article div figure {
  padding-right: 12px;
}

.signIn-section section article div figure img {
  width: 20px;
}

.signIn-section section article h5 {
  padding-top: 20.3px;
  padding-bottom: 15.6px;
  font-size: 16px;
  margin: 0;
}

.cta {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  cursor: pointer;
}

.signIn-section section article p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 15.3px;
}

.signIn-section section article p a {
  color: rgba(0, 113, 235, 1);
}

/* Footer */

.language-btn {
  margin: 0;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
  background-color: rgba(0, 0, 0, 0.253);
  border: 1px solid rgba(255, 255, 255, 0.562);
  border-radius: 3px;
  justify-content: space-between;
}

.language-btn figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 258px;
  background: rgba(0, 0, 0, 0.75);
  color: rgba(117, 117, 117, 1);
  font-size: 11px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: 80px;
}

footer article h2 {
  margin: 0;
  padding-top: 9px;
  font-size: 17px;
  font-weight: 400;
}

footer article section {
  display: flex;
  gap: 150px;
  padding-top: 16.4px;
  padding-bottom: 20px;
}

footer article section div p {
  font-size: 13px;
  line-height: 16.6px;
  cursor: pointer;
  transition: 500ms;
}

footer article section div p:hover {
  color: rgb(201, 194, 194);
}

.footer-btn {
  height: 48px;
  width: 121px;
  padding: 0 5px;
  font-size: 13px;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  color: rgba(117, 117, 117, 1);
}

#globe {
  width: 18px;
}

#dropdown {
  width: 14px;
}
