body {
  margin: 0;
  font-family: sans-serif;
}
.hero-section {
  background-image: url("../Resources/Landing-Page/navbar/image\ 1.png");
  height: 100vh;
  object-fit: fill;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/* Header */

header {
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  width: 90%;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  margin: 0;
  padding: 0;
}

header nav figure img {
  width: 120px;
}

header nav div {
  display: flex;
  height: 24px;
  width: 190px;
  justify-content: space-around;
  padding-bottom: 15px;
}

button {
  margin: 0;
  padding: 2px 4px;
  width: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
  transition: 500ms;
}

header nav div button {
  border-radius: 3px;
}

button figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
}

header nav div button figure img {
  width: 12px;
}

.language-btn {
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.562);
  justify-content: space-between;
}

.signIn-btn {
  background-color: rgba(229, 9, 20, 1);
  color: #fff;
  border: 0;
  height: 24px;
}

.signIn-btn:hover {
  background-color: rgb(255, 0, 0);
  font-size: 12px;
}

/* Hero */

.hero-body {
  margin-top: 30px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-body section {
  text-align: center;
  color: #fff;
}

.hero-body section article h1 {
  width: 90vh;
  font-size: 40px;
  margin: 0px;
}

.hero-body section article p {
  font-size: 15px;
}

.get-started {
  margin: 20px 0;
}

.get-started p {
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.get-started input {
  height: 28px;
  width: 260px;
  font-size: 10px;
  color: #5f5f5f;
  margin: 0;
  padding: 5px;
  border: 0;
}

.get-started div {
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-btn {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  height: 38px;
  width: 128px;
  background-color: rgba(229, 9, 20, 1);
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-btn:hover {
  background-color: rgb(255, 0, 0);
  font-size: 13px;
}

.input-btn img {
  height: 12px;
  padding-left: 6px;
  padding-bottom: 1px;
}

hr {
  margin: 0;
  padding: 0;
  height: 6px;
  background-color: rgba(34, 34, 34, 1);
  border: 0;
}

/* Info Section */

.info-section {
  background: rgba(0, 0, 0, 1);
  color: #fff;
}

.info-section section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.info-section section article {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  padding-top: 30px;
}

.info-section section article h1 {
  font-size: 36px;
  margin: 0;
}

.info-section section article p {
  font-size: 17px;
}

.info-section section figure {
  padding: 0 30px;
}

.info-section section figure img {
  width: 350px;
}

.faqs {
  color: #fff;
  background: rgba(0, 0, 0, 1);
  padding: 20px;
}

.faqs article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faqs article article {
  margin-top: 10px;
}

.question {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  margin-bottom: 5px;
  font-size: 13px;
  background-color: rgba(48, 48, 48, 1);
  transition: 500ms;
  cursor: pointer;
}

.question:hover {
  background-color: rgb(68, 68, 68);
}

.question figure img {
  padding-top: 3px;
  height: 15px;
}

/* Footer */
footer {
  background: rgba(0, 0, 0, 1);
  color: rgba(117, 117, 117, 1);
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

footer article section {
  display: flex;
  padding-top: 5px;
  padding-bottom: 20px;
}

footer article section div {
  padding-right: 50px;
}

footer article section div li {
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
  transition: 500ms;
}

footer article section div li:hover {
  color: rgb(201, 194, 194);
}

.last-list {
  padding-right: 0;
}

.footer-btn {
  padding: 10px;
  width: 86px;
  justify-content: stretch;
  margin-bottom: 10px;
  color: rgba(117, 117, 117, 1);
}
