body {
  margin: 0;
  font-family: sans-serif;
}
.hero-section {
  background-image: url("../Resources/Landing-Page/navbar/image\ 1.png");
  height: 747px;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/* Header */

header {
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  width: 90%;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  margin: 0;
  padding: 0;
}

header nav figure img {
  width: 167px;
}

header nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
}

button {
  margin: 0;
  padding: 2px 4px;
  width: 94px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: 500ms;
}

header nav div button {
  border-radius: 3px;
}

button figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
}

header nav div button figure img {
  width: 11.67px;
}

.language-btn {
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.562);
  justify-content: space-between;
}

.signIn-btn {
  background-color: rgba(229, 9, 20, 1);
  color: #fff;
  border: 0;
  height: 34px;
}

.signIn-btn:hover {
  background-color: rgb(187, 0, 0);
}

/* Hero */

.hero-body {
  height: 647px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-body section {
  text-align: center;
  color: #fff;
}

.hero-body section article h1 {
  width: 686px;
  font-size: 64px;
  line-height: 70.4px;
  font-weight: 700;
  margin: 0px;
  padding-top: 4px;
}

.hero-body section article p {
  font-size: 26px;
}

.get-started {
  margin: 20px 0;
}

.get-started p {
  color: #fff;
  text-align: center;
  font-size: 19px;
}

.get-started input {
  height: 70px;
  width: 500px;
  font-size: 16px;
  color: rgba(140, 140, 140, 1);
  margin: 0;
  padding: 2px 7px;
  border: 1px solid rgba(140, 140, 140, 1);
  outline: 0;
}

.get-started div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-btn {
  border: 0;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  margin: 0;
  margin-top: 2px;
  padding: 37.5px 0;
  height: 70px;
  width: 247px;
  background-color: rgba(229, 9, 20, 1);
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-btn:hover {
  background-color: rgb(187, 0, 0);
}

.input-btn img {
  height: 20.36px;
  width: 9.22px;
}

hr {
  margin: 0;
  padding: 0;
  height: 8px;
  background-color: rgba(34, 34, 34, 1);
  border: 0;
}

/* Info Section */

.info-section {
  background: rgba(0, 0, 0, 1);
  color: #fff;
  height: 466px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 325.92;
}

.info-section section article {
  width: 595.05px;
  height: 180px;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-section section article h1 {
  font-size: 50px;
  width: 547px;
  margin: 0;
}

.info-section section article p {
  width: 499px;
  font-size: 26px;
}

.info-section section figure img {
  width: 530px;
}

.faqs {
  color: #fff;
  background: rgba(0, 0, 0, 1);
  height: 930px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqs article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 790.16px;
}

.faqs article h1 {
  font-size: 50px;
}

.faqs article section {
  height: 493.56px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.question {
  display: flex;
  width: 815px;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 26px;
  background-color: rgba(48, 48, 48, 1);
  transition: 500ms;
  cursor: pointer;
}

.question:hover {
  background-color: rgb(68, 68, 68);
}

.question figure img {
  height: 25px;
}

/* Footer */
footer {
  background: rgba(0, 0, 0, 1);
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

footer article section {
  display: flex;
  gap: 150px;
}

footer article section div p {
  line-height: 20.43px;
  cursor: pointer;
  transition: 500ms;
}

footer article section div p:hover {
  color: rgb(201, 194, 194);
}

.footer-btn {
  width: 132px;
  height: 53px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgba(117, 117, 117, 1);
}

.footer-btn #globe {
  width: 18px;
}

.footer-btn #dropdown {
  width: 14px;
}

@media (max-width: 1200px) {
  .hero-section header nav {
    justify-content: space-around;
  }
  .info-section section {
    padding: 20px;
  }
  .info-section section article {
    width: 450px;
  }
  .info-section section article h1 {
    font-size: 30px;
    width: 347px;
  }

  .info-section section article p {
    width: 399px;
    font-size: 20px;
  }

  .info-section section figure img {
    width: 430px;
  }
}

@media (max-width: 900px) {
  .hero-body section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-body section article h1 {
    font-size: 50px;
    width: 500px;
  }

  .get-started p {
    font-size: 15px;
  }
  .get-started input {
    height: 50px;
    width: 300px;
    font-size: 14px;
  }

  .input-btn {
    padding: 28px 0;
    height: 50px;
    width: 147px;
    font-size: 15px;
  }

  .info-section section {
    flex-wrap: wrap;
  }
  .info-section section article {
    width: 450px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .info-section section article h1 {
    font-size: 30px;
    width: 347px;
    text-align: center;
  }

  .info-section section article p {
    width: 399px;
    font-size: 20px;
    text-align: center;
  }

  .info-section section figure img {
    width: 330px;
  }

  .faqs {
    height: 700px;
  }

  .faqs article {
    height: 490.16px;
  }

  .faqs article h1 {
    font-size: 30px;
  }

  .faqs article section {
    height: 403.56px;
  }

  .question {
    width: 415px;
    height: 55px;
    padding: 0 10px;
    font-size: 16px;
  }

  .question figure img {
    height: 18px;
  }

  footer {
    padding: 30px 0;
  }

  footer article h2 {
    font-size: 20px;
  }

  footer article section {
    display: flex;
    gap: 40px;
  }

  footer article section div p {
    font-size: 9px;
    line-height: 20.43px;
    cursor: pointer;
    transition: 500ms;
  }

  .footer-btn {
    width: 100px;
    height: 38px;
    font-size: 12px;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(117, 117, 117, 1);
  }

  .footer-btn #globe {
    width: 12px;
  }

  .footer-btn #dropdown {
    width: 9px;
  }
}

@media (max-width: 500px) {
  .hero-section header nav {
    justify-content: space-between;
  }

  .hero-section {
    height: 480px;
  }
  header nav figure img {
    width: 100px;
  }

  header nav div {
    gap: 3px;
  }

  .language-btn {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  .signIn-btn {
    font-size: 10px;
    height: 28px;
    width: 75px;
  }

  .hero-body {
    height: 447px;
  }

  .hero-body section article h1 {
    font-size: 30px;
    width: 300px;
    line-height: 40px;
    font-weight: 700;
    padding-top: 4px;
  }

  .hero-body section article p {
    font-size: 17px;
  }

  .get-started {
    margin: 10px 0;
  }

  .get-started p {
    font-size: 10px;
  }

  .input-btn img {
    height: 10.36px;
    width: 4.52px;
  }

  hr {
    height: 5px;
  }

  .get-started input {
    height: 35px;
    width: 190px;
    font-size: 10px;
  }

  .input-btn {
    padding: 18px 0;
    height: 42px;
    width: 90px;
    font-size: 10px;
  }

  /* Info Section */

  .info-section {
    height: 420px;
  }
  .info-section section {
    height: 400px;
    padding: 10px;
  }

  .info-section section article {
    width: 300px;
  }
  .info-section section article h1 {
    font-size: 25px;
    width: 250px;
  }

  .info-section section article p {
    width: 270px;
    font-size: 15px;
    font-weight: 300px;
    text-align: center;
  }

  .info-section section figure img {
    width: 270px;
  }

  .faqs {
    height: 550px;
  }

  .faqs article {
    height: 490.16px;
  }

  .faqs article h1 {
    font-size: 20px;
  }

  .faqs article section {
    height: 403.56px;
  }

  .question {
    width: 295px;
    height: 45px;
    padding: 0 10px;
    font-size: 12px;
  }

  .question figure img {
    height: 15px;
  }

  footer {
    padding: 30px 0;
  }

  footer article h2 {
    font-size: 16px;
  }

  footer article section {
    display: flex;
    gap: 25px;
  }

  footer article section div p {
    font-size: 7px;
    line-height: 17.43px;
  }

  .footer-btn {
    width: 75px;
    height: 35px;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    visibility: visible;
  }

  .footer-btn #globe {
    width: 10px;
  }

  .footer-btn #dropdown {
    width: 7px;
  }
  footer article {
    font-size: 10px;
  }
}
